.k_similar_page{
	position:absolute;
	width:100%;
	background:#fff;
	top:0;
	left:0;
	padding:5px 10px;
	box-sizing:border-box !important;
}

.k_similar_page label.success{
	color:#f00;	
	font-size:16px;
}

.k_similar_page a{
	float:right;
	border:1px solid #ced0d4;
	padding:5px 10px;
	color:#333;
	font-weight:600;
	background:#f6f7f9;
	text-decoration:none !important;
	border-radius:2px;
}


.form-set-target{
	bottom:0;
	left:0;
	position: absolute;	
	z-index:99;
	display:none;	
}

.form-set-target>div{
	width:300px;
	padding:15px;
	box-sizing:border-box !important;
	
	
	
}
.frm-group{
	margin-bottom:10px;
	
}
.frm-group>label{
	margin-bottom:5px;
	display:block;
}
.frm-group input[type="text"],.frm-group input[type="number"]{
	display:block;
	width:100%;
	padding:9px;
	border-radius:1px;	
	border:1px solid #ccc;
	
	box-sizing:border-box !important;
}

.frm-get-by>div{
	border:1px solid #ccc;
	border-radius:2px;
	padding:5px 5px 7px 5px;
	
}
.frm-get-by>div>div{
	display:inline-block;
	margin-right:10px;	
}

.frm-action{
	text-align:right;
	margin-top:20px;	
}
.frm-action button:first-child{
	float:left;	
}

.btn-feed-1{
	position:absolute;
	top:5px;
	right:40px;
	z-index:1;
		
}
.btn-feed-1 span{
	display:inline-block;
	width:24px;
	height:24px;
	background-color:#fff;
	background-image:url(https://i.imgur.com/2MKDBl5.png);
	background-size:100%;
	cursor:pointer;	
}
